doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Python Mentoring

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        link(href='css/styles.css', rel='stylesheet')

        | <!-- Yandex.Metrika counter -->
        | <script type="text/javascript" >
        |    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        |    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        |    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        |
        |    ym(66754786, "init", {
        |         clickmap:true,
        |         trackLinks:true,
        |         accurateTrackBounce:true,
        |         webvisor:true,
        |         ecommerce:"dataLayer"
        |    });
        | </script>
        | <noscript><div><img src="https://mc.yandex.ru/watch/66754786" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        | <!-- /Yandex.Metrika counter -->

    body#page-top
        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Python Mentoring
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/python.png', alt='python')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#main') Главная
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#env_setup') 0. Настройка среды разработки на компьютере
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#introduction') 1. Введение
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#advanced') 2. Продолжение + Основы Git
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#web_and_frameworks') 3. Веб, веб-фреймворки и сервера
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#db_and_orm') 4. Базы данных, SQL и ORM
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#patterns') 5. Паттерны проектирования и архитектура
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#tests') 6. Тесты и качество кода
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#algo') 10. Алгоритмы и структуры данных
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#devops_intro') 7. Развертывание кода, CI/CD и контейнеризация (Docker)
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#os_and_linux') 8. Операционные системы, Linux
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#da_and_ml') 9. Анализ данных и машинное обучение
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#streams') Менторские стримы
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#youtube_channels') YouTube каналы
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#mentors') Менторы

        // Page Content
        .container-fluid.p-0
            section#main.resume-section
                .resume-section-content
                    h3
                        span.text-primary Привет! Это Python Mentoring
                    p.subheading.mb-4
                        | Слева меню, в котором перечислено все то, что поможет освоить Python 3 в контексте задач автоматизации, веб-разработки и машинного обучения.
                    p.subheading.mb-4
                        | Книги, видео-курсы и лекции приведены в том порядке, в котором мы рекомендуем их изучать, для того, чтобы делать это продуктивно, и чтобы минимизировать возможную кашу в голове.
                    p.subheading.mb-4
                        | Путь предстоит не легкий, но увлекательный. Успехов!
                    .social-icons
                        //a.social-icon(href='mailto:artem.pronevskiy@gmail.com')
                        //    i.far.fa-envelope
                        a.social-icon(href='https://t.me/pymentor')
                            i.fab.fa-telegram-plane
                        a.social-icon(href='https://github.com/pymentor')
                            i.fab.fa-github
                        //a.social-icon(href='https://www.linkedin.com/in/artempronevskiy')
                        //    i.fab.fa-linkedin-in
                        a.social-icon(href='https://www.youtube.com/channel/UCqBjVBtycn69Gq1iTE_l93Q')
                            i.fab.fa-youtube

        .container-fluid.p-0
            // Env & IDE setup
            section#env_setup.resume-section
                .resume-section-content
                    h3
                        span.text-primary Настройка окружения и среды разработки
                    .subheading.mb-5
                        | Установка интерпретатора Python 3, среды разработки (IDE) и подготовка к работе с ними
                    p.lead.mb-5
                        a(href='https://www.python.org/downloads/' target='_blank') Скачать Python 3 с официального сайта
                        br
                        | Кликнуть на желтую кнопку "Download Python 3.*.*", скачать и затем установить
                    p.lead.mb-5
                        a(href='https://www.jetbrains.com/pycharm/download/#section=windows' target='_blank') Скачать IDE PyCharm
                        br
                        | Выбрать Community версию (она бесплатная), скачать и затем установить
                    p.lead.mb-5
                        a(href='https://www.youtube.com/watch?v=uWLwvhbbEe4' target='_blank') Установка и настройка среды разработки (IDE) PyCharm в Windows
                        br
                        | Видео, 13 минут
            hr.m-0

            // Introduction
            section#introduction.resume-section
                .resume-section-content
                    h3
                        span.text-primary Введение
                    .subheading.mb-5
                        | Основы синтаксиса языка и его основные механизмы
                    p.lead.mb-5
                        a(href='https://stepik.org/course/67/syllabus' target='_blank') 1) Программирование на Python 3
                        br
                        | Интерактивный видео-курс. 28 уроков, 4 часа видео, 27 тестов, 44 интерактивных задания
                    p.lead.mb-5
                        a(href='https://t.me/pymentor/74' target='_blank') 2) "Как устроен Python. Гид для разработчиков, программистов и интересующихся" Мэтт Харрисон
                        br
                        | Книга в формате pdf, 272 с. Для закрепления знаний полученных в курсе "Программирование на Python 3"
            hr.m-0

            // Advanced
            section#advanced.resume-section
                .resume-section-content
                    h3
                        span.text-primary Продолжение + основы системы контроля версий Git
                    .subheading.mb-5
                        | Углубленное изучение механизмов языка и особенностей интерпретатора Python. Использование системы контроля версий (Git)
                    p.lead.mb-5
                        a(href='https://stepik.org/course/512/promo#toc' target='_blank') 3) Python: основы и применение
                        br
                        | Интерактивный видео-курс. 20 уроков, 5 часа видео, 26 тестов, 36 интерактивных задания
                    p.lead.mb-5
                        a(href='http://flibusta.site/b/546313/download' target='_blank') 4) "Чистый Python. Тонкости программирования для профи" Дэн Бейдер
                        br
                        | Книга в формате pdf, 288 с. Для закрепления знаний полученных в курсе "Python: основы и применение". Скачивание доступно по прямой ссылке
                    p.lead.mb-5
                        a(href='https://stepik.org/course/431/promo' target='_blank') 5) Решение задач после пройденных курсов
                        br
                        | Интерактивный задачник-тренажер, который предлагает задачи, основываясь на результатах решения предыдущих задач
                    p.lead.mb-5
                        a(href='https://www.youtube.com/playlist?list=PLIU76b8Cjem5B3sufBJ_KFTpKkMEvaTQR' target='_blank') 6) Базовый курс по Git
                        br
                        | Видео уроки. Плейлист
            hr.m-0

            // Web and Frameworks
            section#web_and_frameworks.resume-section
                .resume-section-content
                    h3
                        span.text-primary Веб, фреймворки и сервера
                    .subheading.mb-5
                        | Веб-технологии, популярные фреймворки и веб-сервера
                    p.lead.mb-5
                        a(href='https://stepik.org/course/154/' target='_blank') 7) Основы Веб-технологий и введение в фреймворк Django
                        br
                        | Что такое веб, как работает архитектура клиент-сервер, какие используются протоколы, а также как работать с разметкой и стилями (HTML/CSS), и введение в фреймворк Django.
                    p.lead.mb-5
                        a(href='https://htmlacademy.ru' target='_blank') 8) Топовый онлайн курс по HTML/CSS
                        br
                        | Интерактивные уроки по верстке. Перейти на сайт и нажать на зеленую кнопку "Начать учиться". Очень много бесплатного очень годного материала
                    p.lead.mb-5
                        a(href='https://www.youtube.com/playlist?list=PLA0M1Bcd0w8yrxtwgqBvT6OM4HkOU3xYn' target='_blank') 9) Уроки по фреймворку Flask
                        br
                        | 23 видео урока. Плейлист
                    p.lead.mb-5
                        a(href='https://oz.by/books/more10503103.html' target='_blank') 10) "Разработка веб-приложений с использованием Flask на языке Python" Мигель Гринберг
                        br
                        | Книга, 272 с. Введение в фреймворк Flask и разработка на нем блога с пользователями, БД и регистрацией
                    p.lead.mb-5
                        a(href='https://www.youtube.com/watch?v=1Tp5TV3BVWE' target='_blank') 11) Что такое веб-сервера и для чего они нужны
                        br
                        | Видео, 1 час 26 минут. Лекция идет в контексте ОС Linux и ее деталей, но пока это можно игнорировать, и вникать только в общую концепцию
            hr.m-0

            // Db and ORM
            section#db_and_orm.resume-section
                .resume-section-content
                    h3
                        span.text-primary Базы данных, SQL и ORM
                    .subheading.mb-5
                        | Введение с системы управления базами данных, язык SQL и то, как с этим всем принято работать в настоящее время
                    p.lead.mb-5
                        a(href='https://stepik.org/course/2614/promo' target='_blank') 12) Базы данных
                        br
                        | Интерактивный видео-курс. 22 уроков, 5 часа видео, 100 тестов
                    p.lead.mb-5
                        a(href='https://stepik.org/course/1240/promo' target='_blank') 13) Введение в базы данных
                        br
                        | Интерактивный видео-курс, затрагивающий ORM. 23 уроков, 7 часа видео, 80 тестов
                    p.lead.mb-5
                        a(href='https://stepik.org/course/63054/promo' target='_blank') 14) Интерактивный тренажер по SQL
                        br
                        | Для закрепления пройденного материала. Интерактивный задачник-тренажер
                    p.lead.mb-5
                        a(href='https://lectureswww.readthedocs.io/6.www.sync/2.codding/9.databases/2.sqlalchemy/' target='_blank') 15) ORM в Python: Sqlalchemy
                        br
                        | Введение в SQLAlchemy, лекции
                    p.lead.mb-5
                        a(href='https://www.youtube.com/watch?v=PAKJpfxeXjc' target='_blank') 16) Вебинар про Sqlalchemy
                        br
                        | Видео, 1 час 26 минут
            hr.m-0

            // Design patterns
            section#patterns.resume-section
                .resume-section-content
                    h3
                        span.text-primary Паттерны (шаблоны) проектирования и архитектура приложения
                    .subheading.mb-5
                        | Введение в архитектуру приложения и популярные шаблоны проектирования
                    p.lead.mb-5
                        a(href='https://stepik.org/course/2614/promo' target='_blank') 17) "Python на практике" М. Саммерфилд
                        br
                        | Книга, 338 с. Детальный разбор всех популярных паттернов с примерами кода на Python. Много примеров, очень много
                    p.lead.mb-5
                        a(href='https://github.com/faif/python-patterns' target='_blank') 18) Паттерны с примерами кода и описанием
                        br
                        | Github репозиторий
            hr.m-0

            // Tests and code quality
            section#tests.resume-section
                .resume-section-content
                    h3
                        span.text-primary Unit-тесты и статические анализаторы кода. PEP-8
                    .subheading.mb-5
                        | Тестирование кода, сканирование кода на соответствие стандарту PEP-8
                    p.lead.mb-5
                        a(href='https://www.youtube.com/watch?v=EBMXOsCL9AA' target='_blank') 19) Pytests: введение в автотесты
                        br
                        | Видео, 1 час 35 минут. Вебинар по pytests в Python 3
                    p.lead.mb-5
                        a(href='https://www.youtube.com/watch?v=Ynrwk5OLI5Q' target='_blank') 20) Использование модуля Unittests
                        br
                        | Видео, 35 минут. Урок по модулю unittests в Python 3
                    p.lead.mb-5
                        a(href='https://proglib.io/p/python-code-analysis/' target='_blank') 21) Статический анализ кода
                        br
                        | Справочник по статическим анализаторам кода в Python 3
                    p.lead.mb-5
                        a(href='https://pythonworld.ru/osnovy/pep-8-rukovodstvo-po-napisaniyu-koda-na-python.html' target='_blank') 22) Стандарт PEP-8
                        br
                        | Справочник по стандарту PEP-8
            hr.m-0

            // Algo
            section#algo.resume-section
                .resume-section-content
                    h3
                        span.text-primary Алгоритмы и структуры данных
                    .subheading.mb-5
                        | Источники для самостоятельного изучения алрогитмов и структур данных
                    p.lead.mb-5
                        a(href='https://ru.pdfdrive.com/%D0%93%D1%80%D0%BE%D0%BA%D0%B0%D0%B5%D0%BC-%D0%B0%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC%D1%8B-d186671794.html' target='_blank') 23) "Грокаем алгоритмы" Адитья Бхаргава
                        br
                        | Книга, 290 с. Отличная книга для начинающих с примерами кода на Python. Доступна для скачивания на сайте
                    p.lead.mb-5
                        a(href='https://stepik.org/course/1547/promo' target='_blank') 24) Алгоритмы: теория и практика. Структуры данных
                        br
                        | Интерактивные видео-уроки. 11 уроков, 17 интерактивных заданий
                    p.lead.mb-5
                        a(href='https://stepik.org/course/55971/promo' target='_blank') 25) Базовый курс по структурам данных
                        br
                        | Интерактивные видео-уроки. 55 уроков, 187 тестов, 98 интерактивных заданий
            hr.m-0

            // DevOps intro
            section#devops_intro.resume-section
                .resume-section-content
                    h3
                        span.text-primary Введение в DevOps: Git, CI/CD, Ansible, Docker
                    .subheading.mb-5
                        | Непрерывная интеграция и доставка (CI/CD), развертывание и упревление конфигурацией (Ansible), контейнеризация (Docker)
                    p.lead.mb-5
                        a(href='https://www.youtube.com/watch?v=7S1ndRRht6M' target='_blank') 26) Что такое CI/CD (непрерывная интеграция и доставка)
                        br
                        | Видео, 9 минут
                    p.lead.mb-5
                        a(href='https://www.youtube.com/watch?v=7SM8GLArTDY' target='_blank') 27) Сравнение существующих систем CI/CD
                        br
                        | Видео, 15 минут
                    p.lead.mb-5
                        a(href='https://www.youtube.com/watch?v=QvlWcxECzE8&list=RDCMUCemtVTjKhD_GcEOQ_rNOrRw' target='_blank') 28) Уроки по Jenkins с нуля
                        br
                        | Видео уроки. Плейлист
                    p.lead.mb-5
                        a(href='https://www.youtube.com/watch?v=QvlWcxECzE8&list=RDCMUCemtVTjKhD_GcEOQ_rNOrRw' target='_blank') 29) Ansible: быстрый старт
                        br
                        | Вебинар, 1 час 43 мин
                    p.lead.mb-5
                        a(href='https://www.youtube.com/watch?v=QF4ZF857m44' target='_blank') 30) Основы Docker. Большой практический выпуск
                        br
                        | Видео урок. 1 час 25 минут
            hr.m-0

            // OS and Linux
            section#os_and_linux.resume-section
                .resume-section-content
                    h3
                        span.text-primary Введение в архитектуру операционных систем. Введение в OC Linux
                    .subheading.mb-5
                        | Современные ОС и Linux
                    p.lead.mb-5
                        a(href='https://stepik.org/course/762/promo' target='_blank') 31) Основы линукс
                        br
                        | Интерактивные видео-уроки. 34 урока, 147 тестов, 18 интерактивных заданий
                    p.lead.mb-5
                        a(href='http://padabum.com/x.php?id=17307' target='_blank') 32) "Сетевые операционные системы" Олифер В.Г.
                        br
                        | Книга, 544 с. Скачивание по прямой ссылке
            hr.m-0

            // DA and ML
            section#da_and_ml.resume-section
                .resume-section-content
                    h3
                        span.text-primary Анализ данных и машинное обучение на Python
                    .subheading.mb-5
                        | Теория и работа с фреймворками
                    p.lead.mb-5
                        a(href='https://stepik.org/course/401/promo' target='_blank') 33) Нейронные сети
                        br
                        | Интерактивные видео-уроки. 24 урока, 6 часов видео, 90 тестов, 27 интерактивных заданий
                    p.lead.mb-5
                        a(href='https://stepik.org/course/8057/promo' target='_blank') 34) Машинное обучение
                        br
                        | Интерактивные видео-уроки. 71 урок, 7 часов видео, 68 тестов
                    p.lead.mb-5
                        a(href='https://www.coursera.org/specializations/machine-learning-data-analysis' target='_blank') 35) Машинное обучение и анализ данных
                        br
                        | Специализация на Coursera от Yandex и МФТИ
                    p.lead.mb-5
                        a(href='https://praktikum.yandex.ru/data-scientist/' target='_blank') 36) Анализ данных
                        br
                        | Интерактивный курс от Яндекса. Платный
                    p.lead.mb-5
                        a(href='https://karpov.courses/' target='_blank') 37) Анализ данных
                        br
                        | Курс от Анатолия Карпова (@mail.ru). Платный
                    p.lead.mb-5
                        a(href='https://oz.by/books/more10641687.html' target='_blank') 38) "Python для сложных задач. Наука о данных и машинное обучение" Дж. Вандер Плас
                        br
                        | Книга, 576 с. Справочник по библиотека и фреймворкам для анализа данных и машинного обучения на Python
            hr.m-0

            // Streams
            section#streams.resume-section
                .resume-section-content
                    h3
                        span.text-primary Менторские стримы
                    .subheading.mb-5
                        | Обучающие стримы: live coding & code review
                    p.lead.mb-5
                        | Несколько раз в неделю проводим стримы на которых разбираем что-то непонятное, решаем задачи и просто что-то разрабатываем. Код написанный во время стримов будет складироваться
                        a(href='https://github.com/pymentor/learning-streams' target='_blank') здесь
                        | а записи стримов будут доступны
                        a(href='https://www.youtube.com/channel/UCqBjVBtycn69Gq1iTE_l93Q' target='_blank') здесь
            hr.m-0

            // YouTube Channels
            section#youtube_channels.resume-section
                .resume-section-content
                    h3
                        span.text-primary YouTube каналы
                    .subheading.mb-5
                        | Каналы, которые мы рекомендуем
                    p.lead.mb-5
                        a(href='https://www.youtube.com/channel/UCeObZv89Stb2xLtjLJ0De3Q' target='_blank') АйтиБорода
                        br
                        | Проект, посвящен не столько программированию, сколько жизни айтишников изнутри. Без всякой цензуры, ярлыков и лишнего пафоса. Весь контент на канале вместе с вами формирует цельное сообщество единомышленников, способных перевернуть этот мир ко всем чертям, в добром смысле слова :)
                    p.lead.mb-5
                        a(href='https://www.youtube.com/user/zaemiel' target='_blank') Олег Молчанов
                        br
                        | Канал посвящен  программированию на языке Python 3. Здесь вы найдете видео уроки по программированию на Python, созданию сайтов и веб-приложений. Есть уроки парсингу сайтов, по Flask, уроки по Django 2, по созданию блокчейна на Python, ботов для Телеграма.
                    p.lead.mb-5
                        a(href='https://www.youtube.com/channel/UCeISxWd5UTxH6-uXp3ev-5w' target='_blank') dudvstud
                        br
                        | Канал для изучающих (или просто любящих) прикладную математику и анализ данных. Математика для Data Science и Machine Learning с нуля
                    p.lead.mb-5
                        a(href='https://www.youtube.com/channel/UCemtVTjKhD_GcEOQ_rNOrRw' target='_blank') Кирилл Семаев
                        br
                        | Бесплатные полноценные уроки по Linux, DevOps и не только, для всех: от новичков до опытных админов
                    p.lead.mb-5
                        a(href='https://www.youtube.com/channel/UC9MK8SybZcrHR3CUV4NMy2g' target='_blank') Диджитализируй
                        br
                        | Канал про Python и то, как с ним жить :)
                    p.lead.mb-5
                        a(href='https://www.youtube.com/channel/UCjmwHCZ-qh3ro7hHTQhqYQg' target='_blank') Флант
                        br
                        | Видео блог компании Флант. Все о Docker и Kubernetes. Очень много суперских докладов и выступлений
                    p.lead.mb-5
                        a(href='https://www.youtube.com/channel/UC-sAMvDe7gTmBbub-rWljZg' target='_blank') ADV-IT
                        br
                        | Всё для начинающего и опытного DevOps Инженера, а также уроки по Python

            // Mentors
            section#mentors.resume-section
                .resume-section-content
                    h3
                        span.text-primary Наши менторы
                    .subheading.mb-5
                        | Все, кто есть :)
                    p.lead
                        a(href='https://t.me/artempronevskiy' target='_blank') Артём Проневский
                        br
                        | DevOps/Python developer
                    .social-icons.m-sm-0
                        a.social-icon(href='mailto:artem.pronevskiy@gmail.com')
                            i.far.fa-envelope
                        a.social-icon(href='https://t.me/artempronevskiy')
                            i.fab.fa-telegram-plane
                        a.social-icon(href='https://github.com/artempronevskiy')
                            i.fab.fa-github
                        a.social-icon(href='https://www.linkedin.com/in/artempronevskiy')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://www.youtube.com/channel/UCqBjVBtycn69Gq1iTE_l93Q')
                            i.fab.fa-youtube
            hr.m-0
